<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577898555257-ipgmi763op249uoi9a8uu46dhfci2b19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577898555257-ipgmi763op249uoi9a8uu46dhfci2b19</string>
	<key>API_KEY</key>
	<string>AIzaSyA2IE7ejIkmwEopOkMz97ie3oEJt1JKDVc</string>
	<key>GCM_SENDER_ID</key>
	<string>577898555257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ozare</string>
	<key>PROJECT_ID</key>
	<string>ozare-e8ed6</string>
	<key>STORAGE_BUCKET</key>
	<string>ozare-e8ed6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577898555257:ios:e37e3108d2d944c6b371a8</string>
</dict>
</plist>